.table1 {
   list-style-type: none;
   text-align: center;
}

.list1{
    list-style-type: none;
}

.myList{
    border: 1px solid black;
    text-align: left;
}

span {
   display: inline-block;
   border: 1px solid black;
   font-weight: bold;
   padding: 10px 10px 30px 10px;
   width: 70px;   
   margin-right: -10px;
}
.cellname{
   background-color: red;
}
.cellplace{
   background-color:aqua;
}
.cellthing{
   background-color: yellow;
}
