ul{
    list-style-type: none;
    text-align: center;
}

span{
    display: inline-block;
    width: 150px;
    height: 75px;
    border: 3px solid black;
}

.cellFruit{
    background-color: red;
}

.cellMeat{
    background-color: aqua;
}

.cellFlower{
    background-color: yellow;
}

