table, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color: #0F6E9E;
    border: 1px solid black;
    border-collapse: collapse;
    color: white;
}

.ui-bar-f, .ui-bar-h{
    background-color: orangered;
    color: white;
}

tr:nth-child(even) {
    background: #e9e9e9;
}